.gallery__dropdown{
    position: relative;
    display: inline-block;
}

.gallery__filter-dropdown{
    display: none;
    position: absolute;
    overflow-y: auto;
    max-height: 30%;
    min-width: 10%;
    -webkit-user-select: none; /* Prevent text selection */
    user-select: none; /* Safari compatibility */
}

.gallery__filter-dropdown-toggle {
    padding: 10px 16px; /* Adds padding for a button-like feel */
    background-color: rgba(27, 36, 24, 0.8); /* Background for toggle */
    color: white; /* Text color */
    border: 2px solid rgba(255, 255, 255, 0.3); /* Matching border */
    border-radius: var(--header-border-radius);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    cursor: pointer; /* Change cursor to pointer */
    text-align: center; /* Center text */
    -webkit-user-select: none; /* Prevent text selection */
    user-select: none; /* Safari compatibility */
}

.gallery__filter-dropdown-toggle:hover{
    cursor: pointer;
    color: #8fb69e;
    border-color: #8fb69e; /* Change border color on hover */
}

.gallery__filter-dropdown--open{
    display :inline-block;
    /* background-color: #576c50; */
    background-color: rgba(0, 0.0078, 0.0039, 0.9);
    border: 2px solid rgba(255, 255, 255, 0.3); /* Light border */
    border-radius: var(--header-border-radius);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, box-shadow 0.3s;
    z-index: 1;
    /* box-shadow: 1px ; */
}

.gallery__filter-dropdown a{
    /* color: black; */
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    align-content: center;
    transition: background-color 0.3s, color 0.3s;
    -webkit-user-select: none; /* Prevent text selection */
    user-select: none; /* Safari compatibility */
}

.gallery__filter-dropdown a:hover{
    /* background-color: #ffeebc; */
    background-color: rgba(255, 255, 255, 0.7);
    color: #ffeebc; /* Lightens text on hover */
    cursor: pointer;
}

.clear-filter-button, .download-button {
    padding: 10px 16px; /* Match padding with dropdown */
    background-color: rgba(27, 36, 24, 0.8); /* Similar background color */
    color: white; /* Text color */
    border: 2px solid rgba(255, 255, 255, 0.3); /* Matching border */
    border-radius: var(--header-border-radius); /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, border-color 0.3s, transform 0.2s; /* Transition effects */
    font-size: 16px; /* Font size */
    text-align: center; /* Center text */
    -webkit-user-select: none; /* Prevent text selection */
    user-select: none; /* Safari compatibility */
    font-weight: normal;
}

.clear-filter-button:hover, .download-button:hover {
    background-color: rgba(27, 36, 24, 1); /* Darker on hover */
    border-color: #8fb69e; /* Change border color on hover */
    transform: scale(1.05); /* Slight scaling effect on hover */
}

.clear-filter-button:focus, .download-button:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 2px rgba(143, 182, 158, 0.5); /* Custom focus ring */
}

.loading-icon {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.gallery__filter-heading {
    font-size: 16px;
    font-weight: normal;
}
