/** @format */

.button {
  padding: var(--space-8) var(--space-32);
  text-align: center;
  border: 0;
  font-size: var(--font-size-16);
  cursor: pointer;
  transition: var(--link-transition);
  border-radius: 5px;
  font-weight: var(--font-weight-bold);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:hover:enabled {
  background: linear-gradient(90deg, #ffcc66, #ff9900);
  /* transform: scale(1.05); */
  box-shadow: 0 4px 10px rgba(255, 153, 0, 0.4);
}

.button:disabled {
  background: var(--colour-gray-7);
}

.button-primary {
  background-color: var(--colour-secondary);
  color: var(--text-colour-dark);
}

.button-primary:hover:enabled {
  background-color: var(--colour-primary-lighter);
}

.button-secondary {
  background-color: var(--colour-primary-light);
  color: var(--text-colour-light);
}

.button-secondary:hover {
  background-color: var(--colour-primary);
}
